/p1b/.idea/.gitignore
/p1b/aula08/.idea/.gitignore
/p1b/Aula09/.idea/.gitignore
/p1b/aula08/aula08.iml
/p1b/Aula09/Aula09.iml
/p1b/.idea/misc.xml
/p1b/aula08/.idea/misc.xml
/p1b/Aula09/.idea/misc.xml
/p1b/.idea/modules.xml
/p1b/aula08/.idea/modules.xml
/p1b/Aula09/.idea/modules.xml
/p1b/.idea/p1b.iml
/p1b/.idea/inspectionProfiles/profiles_settings.xml
/p1b/.idea/vcs.xml
/p1b/aula08/.idea/vcs.xml
/p1b/Aula09/.idea/vcs.xml
